# For standard keyboard input events
SUBSYSTEM=="input", ATTRS{idVendor}=="30fa", ATTRS{idProduct}=="2350", MODE="0660", GROUP="input", TAG+="uaccess"

